/* welcome slider */

.orange-bg{
    background: #ab8e8ab8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-button{
    background-image: linear-gradient(to bottom,#FF589B 0%,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.buy-button:hover{
    color: #fff;
}
/*category */
.cat1, .cat2, .cat3{
    padding: 15px 25px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.cat1{
    background-image: linear-gradient(to bottom,rgb(238, 159, 14) 0%,rgb(128, 120, 12) 100%);
}
.cat2{
    background-image: linear-gradient(to bottom,rgb(186, 226, 8) 0%,rgb(3, 66, 3) 100%);
   
}
.cat3{
    background-image: linear-gradient(to bottom,rgb(58, 190, 157) 0%,rgb(182, 169, 52) 100%);
}
.categories h1{
color: white;
}
.categories img{
    width: 125px;
}
.crd{
    box-shadow: 3px 4px 8px 2px;
}

.heads{
    width: 200px;
    height: 10px;
    border-bottom: 2px solid rgb(190, 211, 5);
    
}

.subcribe{
    height: 300px;
    padding: 30px 0;
    background: #f8db71;
}

footer{
    background: rgb(67, 67, 253);
}
footer ul li{
    list-style: none;
    padding: 6px;
}
footer ul li a{
   
    color: white;
}
footer ul li a:hover{
    text-decoration: none;
    color: tomato;
}

footer a:hover{
text-decoration: none;
color: tomato;
}